:root {
    --primary-color: #2947A9;
}
  
.header__container{
    padding: 16px 6%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
}

.header__logo{
    display: flex;
    align-items: center;
    gap: 14px;
}

.header__logo-text{
    color: var(--primary-color);
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    line-height: 35px;
}

.header__navbar{
    display: flex;
    gap: 50px;
}

.header_nav-item{
    text-decoration: none;
    color: #14171F;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.header_nav-item_orange{
    color: #F9995D;
    font-weight: 600;
}

.header_nav-item:hover{
    text-decoration: underline;
}